/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.4em;
	margin-bottom: 20px;
}

h1 {
	font-size: 28px;
	font-weight: 800;
	font-family: helvetica;
	padding-bottom: 15px;
}

h2 {
	font-family: helvetica;
	font-size: 20px;
	font-weight: 800;
	padding-bottom: 20px;
}

.subtitle {
	font-style: italic;
	font-family: helvetica;
}

.author {
	font-family: helvetica;
	font-size: 20px;
}

.date {
	border-bottom: 4px solid #000000;
	margin-bottom: 50px;
	padding-bottom: 30px;
}

body {
	min-width: 400px;
	padding: 20px 20px;
	
}

img {
	max-width: 100%;
	padding-bottom: 40px;
	align-content: center;
}

main {
	padding: 0px 200px;
}

blockquote {
	padding: 0px 50px;
	margin: 0px 70px;
	border-left: 3px solid #737373;
	border-right: 3px solid #737373;
	color: #333333;
	text-align: justify;
}

em {
	font-style: italic;
}

strong {
	font-weight: 800;
}

a {
	text-decoration: none;
}
